/* @tailwind base;
@tailwind components;
@tailwind utilities; */

#app {
    height: 100%;
}

.dataTables_wrapper .dataTables_length {
    display: none;
}

.table-responsive {
    overflow: hidden;
}

.dataTables_wrapper .dataTables_filter {
    display: none;
}

.dataTables_wrapper .dataTables_paginate {
    display: none;
}

#showTable {
    width: 100%;
    white-space: nowrap;
}

.paginate_row {
    padding: 1rem 0;
    /* margin-left: 0.5rem; */
}

.dropzone-item {
    display: flex;
    align-items: center;
    margin-top: .75rem;
    border-radius: .475;
    padding: .5rem 1rem;
    background-color: var(--bs-gray-100);
}

.dropzone-file {
    flex-grow: 1;
}

.dropzone-filename {
    font-size: .9rem;
    font-weight: 500;
    color: var(--bs-gray-600);
    text-overflow: ellipsis;
    margin-right: .5rem;
}

.dropzone-filename:hover {
    color: var(--bs-primary);
    cursor: pointer;
}

.dropzone-delete:hover {
    color: var(--bs-primary);
    cursor: pointer;
}