/* @tailwind base;
@tailwind components;
@tailwind utilities; */

#app {
    height: 100%;
}

.dataTables_wrapper .dataTables_length {
    display: none;
}

.table-responsive {
    overflow: hidden;
}

.dataTables_wrapper .dataTables_filter {
    display: none;
}

.dataTables_wrapper .dataTables_paginate {
    display: none;
}

#showTable {
    width: 100%;
    white-space: nowrap;
}

.paginate_row {
    padding: 1rem 0;
    /* margin-left: 0.5rem; */
}

.dropzone-item {
    display: flex;
    align-items: center;
    margin-top: .75rem;
    border-radius: .475;
    padding: .5rem 1rem;
    background-color: var(--bs-gray-100);
}

.dropzone-file {
    flex-grow: 1;
}

.dropzone-filename {
    font-size: .9rem;
    font-weight: 500;
    color: var(--bs-gray-600);
    text-overflow: ellipsis;
    margin-right: .5rem;
}

.dropzone-filename:hover {
    color: var(--bs-primary);
    cursor: pointer;
}

.dropzone-delete:hover {
    color: var(--bs-primary);
    cursor: pointer;
}

.react-select-container:focus-visible {
    outline: none !important;
}

.react-select__control {
    background-color: #f9f9f9 !important;
    border-color: #f9f9f9 !important;
}

.react-select__control:hover {
    background-color: #f1f1f2 !important;
    border-color: #f1f1f2 !important;
}

.react-select__control:focus-visible {
    border-color: #f1f1f2 !important;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* semi-transparent white */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: all .3s ease;
    /* Adjust the z-index as needed */
}

.vis-timeline .vis-item {
    background-color: transparent;
    border: 0 !important;
    border-radius: 0 !important
}

.vis-timeline {
    border: 0 !important;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: calc(1.275rem + 0.3vw);
    line-height: inherit;
}

.form legend {
    background-color: #fff;
    border-bottom: none;
    font-size: 1.2em !important;
    font-weight: 700 !important;
    margin-bottom: 13px;
    margin-top: -11px;
    padding: 0 10px;
    text-align: left !important;
    width: inherit;
}

.form fieldset {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    box-shadow: 0 0 0 0 #000;
    margin: 0 0 1.5em !important;
    padding: 0 1.4em 1.4em !important;
}

@media (min-width: 1200px) {
    legend {
        font-size: 1.5rem;
    }
}

legend+* {
    clear: left;
}